[submodule "Submodules/ExSwift"]
	path = Submodules/ExSwift
url=https://github.com/mike-lischke/ExSwift.git
[submodule "Submodules/IBANtools"]
	path = Submodules/IBANtools
	url = https://github.com/mike-lischke/IBANTools
[submodule "Submodules/HBCI4Swift"]
	path = Submodules/HBCI4Swift
	url = https://github.com/macemmi/HBCI4Swift.git
